*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:#521447;
}

div{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height:50%;
}

h2{
    padding-top: 15px;
    height:50px;
    font-size:medium;
}

img{
    height:100px;
}

button{
    border: solid #efad06;
    background-color:#120920;
    padding: 3px;
    border-radius: 10px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#container{
    height:500px;
    width:100%;
    padding-top:auto;
    margin-top:auto;
    justify-items: center;
}

#container-index{
    flex-direction: row;
    height:500px;
    width:100%;
    padding:auto;
    margin:auto;
    justify-content: space-evenly;
    align-items: center;
    border:solid;
}

#playerbox{
    justify-content: space-between;
    background-color: #120920;
    margin-top:auto;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border:solid #efad06;
    border-radius: 10px;
    width:15%;
}

#win-box{
    width:100%;
    background-color: #120920;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    color: white;
    border-bottom: solid #efad06;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#roll-two{
    visibility: hidden;
    display:none;
}

#hold{
    visibility: hidden;
    display: none;
}

#score-box{
    flex-direction: row;
    justify-content: space-evenly;
}

#button-box{
    flex-direction: row;
    justify-content: space-evenly;
    margin-top:10px;
    width:50%;
    border-color: #efad06;
    border-style:solid solid none solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.player-select{
    font-size: x-large;
    padding: auto;
    margin:auto;
    height:100px;
    width:150px;
}